In [113]:
import numpy as np
import pandas as pd

In [114]:
df = pd.read_csv(filepath_or_buffer="E:/DOWNLOADS/adult.data.csv")
df.head(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,29,Local-gov,115585,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
98,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K
99,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K

 How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [290]:
race_count = df["race"].value_counts().unique()
race_count

array([27816,  3124,  1039,   311,   271], dtype=int64)

What is the average age of men?

In [116]:
average_age_men = round(df.loc[df["sex"] == "Male"].age.mean(),1)
average_age_men

39.4

 What is the percentage of people who have a Bachelor's degree?

In [117]:
percentage_bachelors = round(df.loc[df["education"] == "Bachelors"].education.count()/df.shape[0]*100,1)
percentage_bachelors

16.4

 What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

 What percentage of people without advanced education make more than 50K?

In [131]:
filter1 = (df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate")
filter2 = (df["salary"] == ">50K")
higher_education = round((df.loc[filter1 & filter2].count()[0]/df.loc[filter1].count()[0])*100,1)
higher_education

46.5

In [139]:
filter3 = (df["education"] != "Bachelors") & (df["education"] != "Masters") & (df["education"] != "Doctorate")
lower_education = round((df.loc[filter3 & filter2].count()[0]/df.loc[filter3].count()[0])*100,1)
lower_education

17.4

What is the minimum number of hours a person works per week?

In [145]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [152]:
filter4 = df.loc[(df["hours-per-week"] == min_work_hours)].count()[0]
rich_percentage = round(df.loc[(df["hours-per-week"] == min_work_hours) & (df["salary"] == ">50K")].count()[0]/filter4*100,0)
rich_percentage

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [249]:
earnings_by_states = df[filter2].groupby(by="native-country")["salary"].count()
people_in_country = df.groupby(by="native-country")["salary"].count()
ratio_df = (earnings_by_states/people_in_country)
filter5 = ratio_df == ratio_df.max()

highest_earning_country = ratio_df[filter5].index[0]
highest_earning_country_percentage = round(ratio_df[filter5][0]*100,1)

print(highest_earning_country,highest_earning_country_percentage)

Iran 41.9

Identify the most popular occupation for those who earn >50K in India.

In [288]:
india_df  = df.loc[(df["native-country"] == "India")]
all_occupatio_india = india_df.loc[filter2].groupby(by="occupation").count()["salary"]
filter7 = (all_occupatio_india == all_occupatio_india.max())
top_IN_occupation = all_occupatio_india[filter7].index[0]
top_IN_occupation

'Prof-specialty'